body { font-family: Arial, sans-serif; margin: 0; padding: 0; background-color: black; color: white}
header { background-color: #ee3e8a; color: black; padding: 15px; text-align: center; }
h1 { font-size: 32px; margin: 0; }
h2 { font-size: 24px; margin: 10px 0; }
h3 { font-size: 20px; margin: 8px 0; }
h4 { font-size: 16px; margin: 6px 0; }
p { font-size: 14px; line-height: 1.6; margin: 10px 0; }
main { padding: 20px; }
section { margin-bottom: 20px; }

/* Navigation Bar */
.navbar { background-color: #333; overflow: hidden; }
.navbar a { float: left; color: white; text-decoration: none; padding: 14px 16px; }
.navbar a:hover { background-color: #ddd; color: black;}
.navbar ul { list-style-type: none; margin: 0; padding: 0; display: flex; }

/* About Me Section */
#about { background-color: #222; padding: 15px; padding-bottom: 40px; border-radius: 5px; }
#about ul { list-style-type: none; padding: 5px; }
.profile { border-radius: 50%; margin-top: 0px; float: left; margin-right: 30px; width: 150px; height: 150px; object-fit: cover; margin-left: 20px; }

/* Projects Section */
#projects { background-color: #222; padding: 15px; border-radius: 5px; }
.project-figure { margin: 10px 0; }
.project-figure img { width: 100%; max-width: 400px; border-radius: 5px; }
.project-figure figcaption { text-align:inherit; font-size: 12px; margin-top: 5px; }

/* Contact Section */
#contact { background-color: #222; padding: 15px; border-radius: 5px; }
#contact a { color: #ee3e8a; text-decoration: none; }
#contact a:hover { text-decoration: underline; }

footer { background-color: #ee3e8a; color: black; padding: 10px; text-align: center; }